* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*::selection {
  color: orangered;
}

body {
  width: 100%;
  height: 100vh;
}

.loader {
  background-color: #000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.loader h2 span {
  display: inline-block;
  color: #fff;
  font-weight: lighter;
}

/* page 1 */

.page1 {
  position: relative;
  width: 100%;
  height: 100vh;
}

.page1 video {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#mouseCursor {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: orangered;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
  transform: translate(-100%, -100%);
}

#mouseCursor h4 {
  font-size: 1.15vw;
  font-weight: 300;
  color: #000;
}

.page1-Content {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5vw;
}

.navbar {
  padding: 2vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .link1 {
  font-weight: 600;
  color: grey;
  text-decoration: none;
  font-size: 1.8vw;
  text-transform: capitalize;
}

.navbar .link2 {
  font-weight: 800;
  color: rgb(128, 128, 128);
  font-size: 1.6vw;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Page 2 */
.page2 {
  margin-bottom: 5rem;
  max-height: 100vh;
  width: 100%;
}

.aboutDiv {
  margin: 0 auto;
  width: 95%;
  padding: 5vw 3vw 1vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-bottom: 1px solid black;
}

.aboutDiv h3 {
  font-weight: 400;
}

.page2-MainHeading {
  padding: 3vw 3vw;
}

.page2-MainHeading h1 {
  font-weight: 400;
  font-size: 3.8vw;
}

/* page 3 */
.page3 {
  width: 100%;
  margin-bottom: 4rem;
}

.page3 .page3-top {
  padding-top: 5vw;
  text-align: center;
}

.page3 .page3-top h3 {
  display: inline;
  font-size: 1.3vw;
  font-weight: 400;
}

.page3 .page3-top h3 + i {
  font-size: 1.5vw;
}

.page3 .page3-top h3 span {
  font-size: 1vw;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.page3 .page3-top h1 {
  font-weight: 400;
  font-size: 6vw;
}

.page3-middle {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.page3-middle h3 {
  font-weight: 400;
  font-size: 1.8vw;
}

.page3-middle a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 1.6vw;
}

.page3-middle a i {
  font-size: 1.5vw;
}

.page3-elementContainer {
  padding-left: 2vw;
  margin-top: 1vw;
  height: 43vw;
  width: 98%;
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.page3-elementContainer .elements {
  position: relative;
  height: 100%;
  width: 34%;
}

.page3-elementContainer .elements video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page3-elementContainer .elements img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all linear 0.7s;
}

.page3-elementContainer .elements:hover img {
  opacity: 0;
}

.page3-elementContainer .elements h1 {
  text-transform: uppercase;
  color: #ffffffae;
  position: absolute;
  bottom: 5%;
  z-index: 10;
  left: 35%;
}

/* page 4 */
.page4 {
  margin-bottom: 5rem;
  max-height: 100vh;
  width: 100%;
}

.aboutDiv {
  margin: 0 auto;
  width: 95%;
  padding: 5vw 3vw 1vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  border-bottom: 1px solid black;
}

.aboutDiv h3 {
  font-weight: 400;
}

.page4-MainHeading {
  padding: 3vw 3vw;
}

.page4-MainHeading h1 {
  font-weight: 400;
  font-size: 3.8vw;
}

/* page 5 */

.page5 {
  position: relative;
  margin-top: 3rem;
  height: 100vh;
  width: 100%;
}

.page5-video video {
  position: absolute;
  height: 150%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page5 svg {
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mouseCursor5 {
  height: 6vw;
  width: 6vw;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 9;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

#mouseCursor5 h4 {
  font-size: 1.15vw;
  font-weight: 300;
  color: #fff;
}

.page5 .page5-text {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
}

.page5 .page5-text .seat {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.page5 .page5-text .seat span {
  font-size: 5vw;
}

.page5 .page5-text .seat h2 {
  font-size: 5vw;
  font-weight: lighter;
  letter-spacing: -1.5px;
}

.page5 .page5-text .seat .seat-span {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70px;
  overflow: hidden;
}

.page5 .page5-text .seat .seat-span:hover h2 {
  transform: translateY(-400%);
  transition: transform 1s ease-in-out;
}

/* page 6 */

.page6-MainHeading {
  padding: 2vw 3vw;
}

.page6-MainHeading h1 {
  font-weight: 400;
  font-size: 3.8vw;
}

/* page 7 */

.page7 {
  height: 100vh;
  width: 100%;
}

.page7 .aboutDiv {
  padding: 0 3vw;
  margin-top: 4vw;
  margin-left: 2vw;
}

.aboutDiv h1 {
  font-size: 10vw;
  font-weight: 400;
}

.aboutDiv a {
  text-decoration: none;
  font-size: 2vw;
  color: black;
}

/* Swiper container */
#SwipperDiv {
  /* margin-top: 2vw; */
  height: 66vh;
  width: 120%;
  margin-top: -3%;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 80%;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  display: flex;
  row-gap: 5px;
  align-items: flex-end;
  justify-content: space-evenly;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 90%;
}

.page8 {
  height: 80vh;
  width: 100%;
}

.page8 .page8-top {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: center;
}

.page8 .page8-top h3 {
  display: inline;
  font-size: 1.3vw;
  font-weight: 400;
}

.page8 .page8-top h3 + i {
  font-size: 1.5vw;
}

.page8 .page8-top h1 {
  width: fit-content;
  font-weight: 400;
  font-size: 6vw;
  margin: 0 auto;
}

.page8 .page8-top h1 {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-bottom: 5px;
}

.page8 .page8-top h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;

  /* start hidden from right */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.page8 .page8-top h1:hover::after {
  /* grow towards left */
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Footer */

.footer {
  height: 80vh;
  width: 100vw;
  background-color: black;
  color: #fff;
}

.footer .left-top-footer {
  padding: 0 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .left-top-footer .leftpart h3 {
  color: #fff;
  font-size: 2.3vw;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer .left-top-footer .leftpart button {
  border: none;
  font-size: 1.1vw;
  padding: 0.6vw 0.8vw;
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  transition: all ease 1s;
}

.footer .left-top-footer .leftpart button:hover {
  background-color: black;
  color: white;
  border: none;
  font-size: 1.5vw;
}

.footer .left-top-footer .rightpart {
  padding-top: 1vw;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.footer .left-top-footer .rightpart a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.footer .left-top-footer .rightpart ul li {
  list-style: none;
}

.footer .left-top-footer .rightpart i {
  margin-bottom: 2rem;
  color: #fff;
}

.footer .left-top-footer .rightpart a {
  position: relative;
  text-decoration: none;
  color: #fff;
  padding-bottom: 5px;
}

.footer .left-top-footer .rightpart a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;

  /* start hidden from right */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.footer .left-top-footer .rightpart a:hover::after {
  /* grow towards left */
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer .bottom-part h4 {
  font-weight: 400;
  font-size: 4vw;
  margin: 2rem 0 0 2rem;
  color: #fff;
}

/* To hover over the bottom  */
.HoverBottom {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-bottom: 5px;
  width: fit-content;
  margin: 0 auto;
}

.HoverBottom::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000;

  /* start hidden from right */
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.HoverBottom:hover::after {
  /* grow towards left */
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* Tablets */
@media (max-width: 1024px) {
  .page3-middle {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}

/* Mobile */
.page1,
.page5,
.page7 {
  min-height: 100vh;
  height: auto;
}

.page2-MainHeading h1 {
  font-size: clamp(1.6rem, 4vw, 3.8vw);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .page3-elementContainer {
    flex-direction: column;
    height: auto;
  }

  .page3-elementContainer .elements {
    width: 100%;
    height: 60vh;
  }

  #mouseCursor,
  #mouseCursor5 {
    display: none;
  }

  @media (max-width: 768px) {
    #SwipperDiv {
      width: 100%;
    }
  }

  h1 {
    font-size: clamp(1.8rem, 6vw, 3rem);
  }
}

/* Small phones */
@media (max-width: 480px) {
  .aboutDiv {
    flex-direction: column;
    gap: 1rem;
  }
}
